<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Welcome Traveler</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/img/logo.png" class="logo">
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/recommendation">Recommendation</a></li>
                        <li><a href="/about2">About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div style="font-size: 25px; color: white;">
                <h1>About</h1>
                <img src="/static/img/text11.png" width="600" height="550" alt="Image" class="center">
            </div>

            <div>
                <img src="static/img/avena.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <img src="static/img/celeste.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <img src="static/img/lance.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <img src="static/img/tan.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <img src="static/img/zacarias.png" style="width: 1100px;height: 600px;" class="center">
                <br>
            </div>

            
        </div>
    </body>
</html>