<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Cebu</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/img/logo.png" class="logo">
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/recommendation">Recommendation</a></li>
                        <li><a href="/about2">About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div style="font-size: 25px; color: white;">
                <h1>Cebu</h1>
                <p>This laid-back coastal town is famous for its surfing spots but it's also brimming with other natural attractions like red clay pottery, grape picking, loom weaving, churches for pilgrimage tours, waterfalls, and eco-tours.
                </p></br>
            </div>

            <div style="font-size: 15px; color: white;" class="center">
                <img src="static/img/moalboal.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">Pescador View - Beach Resort & Restaurant</h2>
                <p>2D1N Package</p>
                <p>Php 2999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Roundtrip airport transfers;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/mactan.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">Crimson Resort and Spa</h2>
                <p>3D2N Mactan Island Package</p>
                <p>Php 7999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Sidetrip to top diving sites;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Island hopping;</p>
                <p>- Roundtrip airport transfers;</p>
                <p>- Daily breakfast;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/oslob.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">Oslob Package</h2>
                <p>4D3N Sumilon Island Tour Package</p>
                <p>Php 9999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Necessary vehicle transfers;</p>
                <p>- Daily breakfast;</p>
                <p>- Free rent of equipments for snorkling;</p>
                <p>- Whale shark swimming;</p>
                <p>- Swim at the White Sand Bar;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
            </div>

            
        </div>
    </body>
</html>