<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Palawan</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="/index">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div style="font-size: 25px; color: white;">
                <h1>Palawan</h1>
                <p>One of the best places to visit in the Philippines, and consistently ranked as one of the best islands in the world, and for a good reason.</p></br>
            </div>

            <div style="font-size: 15px; color: rgb(255, 255, 255);" class="center">
                <img src="static/img/el nido.png" style="width: 1100px;height: 600px;">
                <br>
                <input type="text" placeholder="El Nido Resorts Miniloc Island" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="3D2N Classic Vacation" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="Php 2999/pax" style="width: 30%;">
                <br>
                <input type="text" placeholder="Inclusions:" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Professional licensed English-speaking guide;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Domestic flights (economy class) or ferries;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Roundtrip airport transfers;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Use of resort facilities;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- 24/7 customer support" style="width: 30%;">
                <br>
                <br>
                <img src="static/img/puerto.png" style="width: 1100px;height: 600px;">
                <br>
                <input type="text" placeholder="Princesa Garden Island Resort & Spa" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="4D3N Puerto Princesa Package" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="Php 3999/pax" style="width: 30%;">
                <br>
                <input type="text" placeholder="Inclusions:" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Professional licensed English-speaking guide;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Domestic flights (economy class) or ferries;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Roundtrip airport transfers;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Daily breakfast;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Use of resort facilities;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- 24/7 customer support" style="width: 30%;">
                <br>
                <br>
                <img src="static/img/coron.png" style="width: 1100px;height: 600px;">
                <br>
                <input type="text" placeholder="Club Paradise Palawan" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="4D3N Coron Tour Package" id="Package" style="width: 30%;">
                <br>
                <input type="text" placeholder="Php 5999/pax" style="width: 30%;">
                <br>
                <input type="text" placeholder="Inclusions:" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Professional licensed English-speaking guide;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Domestic flights (economy class) or ferries;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Necessary vehicle transfers;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Roundtrip airport transfers;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Daily breakfast and lunch;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Free rent of equipments for snorkling;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- Use of resort facilities;" style="width: 30%;">
                <br>
                <input type="text" placeholder="- 24/7 customer support" style="width: 30%;">
                <br>
                <br>

                <button id="save" onclick="location.href='/admin/dashboard'" style="align-self: center; width: 10%; height: 5%;"><span></span>   Save   </button>
                <br>
                <br>

            </div>
        </div>
    </body>
</html>