<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>La Union</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/img/logo.png" class="logo">
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/recommendation">Recommendation</a></li>
                        <li><a href="/about2">About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div style="font-size: 25px; color: white;">
                <h1>La Union</h1>
                <p>This laid-back coastal town is famous for its surfing spots but it's also brimming with other natural attractions like red clay pottery, grape picking, loom weaving, churches for pilgrimage tours, waterfalls, and eco-tours.
                </p></br>
            </div>

            <div style="font-size: 15px; color: white;" class="center">
                <img src="static/img/thunder.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">Thunderbird Resort Poro Point</h2>
                <p>Overnight Deluxe Package</p>
                <p>Php 7500</p>
                <br>
                <p>Inclusions:</p>
                <p>- 2 queen beds;</p>
                <p>- Maximum 4 pax;</p>
                <p>- Ocean view;</p>
                <p>- Necessary vehicle transfers;</p>
                <p>- Parking;</p>
                <p>- Daily breakfast;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/kabsat.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">Kabsat</h2>
                <p>2D1N</p>
                <p>Php 1999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Van transfer (from MOA);</p>
                <p>- Side trip to Tangadan Falls;</p>
                <p>- Free breakfast;</p>
                <p>- Nightlife/socaials;</p>
                <p>- Free time at own leisure/go surfing ();</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/sjsurf.png" style="width: 1100px;height: 600px;" class="center">
                <br>
                <h2 style="font-size: 20;">San Juan Surf Resort</h2>
                <p>2D1N</p>
                <p>Php 5999</p>
                <br>
                <p>Inclusions:</p>
                <p>- Good for 3 pax;</p>
                <p>- Beach view windows;</p>
                <p>- Free breakfast;</p>
                <p>- Necessary vehicle transfers;</p>
                <p>- Nightlife/socaials;</p>
                <p>- Free surfing lessons (basic);</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
            </div>

            
        </div>
    </body>
</html>