<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Palawan</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/img/logo.png" class="logo">
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/recommendation">Recommendation</a></li>
                        <li><a href="/about2">About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div style="font-size: 25px; color: white;">
                <h1>Palawan</h1>
                <p>One of the best places to visit in the Philippines, and consistently ranked as one of the best islands in the world, and for a good reason.</p></br>
            </div>

            <div style="font-size: 15px; color: white;" class="center">
                <img src="static/img/el nido.png" style="width: 1100px;height: 600px;">
                <br>
                <h2 style="font-size: 20;">El Nido Resorts Miniloc Island</h2>
                <p>3D2N Classic Vacation</p>
                <p>Php 2999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Roundtrip airport transfers;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/puerto.png" style="width: 1100px;height: 600px;">
                <br>
                <h2 style="font-size: 20;">Princesa Garden Island Resort & Spa</h2>
                <p>4D3N Puerto Princesa Package</p>
                <p>Php 3999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Roundtrip airport transfers;</p>
                <p>- Daily breakfast;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
                <img src="static/img/coron.png" style="width: 1100px;height: 600px;">
                <br>
                <h2 style="font-size: 20;">Club Paradise Palawan</h2>
                <p>4D3N Coron Tour Package</p>
                <p>Php 5999/pax</p>
                <br>
                <p>Inclusions:</p>
                <p>- Professional licensed English-speaking guide;</p>
                <p>- Domestic flights (economy class) or ferries;</p>
                <p>- Necessary vehicle transfers;</p>
                <p>- Roundtrip airport transfers;</p>
                <p>- Daily breakfast and lunch;</p>
                <p>- Free rent of equipments for snorkling;</p>
                <p>- Use of resort facilities;</p>
                <p>- 24/7 customer support</p>
                <br>
                <button id="book" onclick="location.href='/book'"><span></span>Book Now</button>
                <br>
                <br>
            </div>


        </div>
    </body>
</html>